/* style.css */

/* style.css */

/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    background-color: #834cb1;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Estilizando a seção de login */
section {
    background-color: lightgrey;
    width: 100%; /* Definindo a largura da seção */
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
}

/* Estilizando o formulário de login */
form {
    text-align: center;
}

/* Estilizando o título do formulário */
h1 {
    margin-bottom: 20px;
}

/* Estilizando os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilizando o botão de login */
input[type="submit"] {
    background-color: #834cb1;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

/* Estilizando o botão de login quando hover */
input[type="submit"]:hover {
    background-color: #4b116f;
}

#col-1, #col-2 {
    float: left;
    width: 50%;
    padding: 20px;
  }

  #logo
  {
    width: 100%;
    max-width: 160px;
    padding: 20px;
    position: absolute;
    top: 15%;
    left: 35%;
    transform:translate(-50%, -50%); 
  }

  #subtitulo
  {
    position: absolute;
    top: 17%;
    left: 65%;
    width: 43%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "time";
    font-size: large;
  }

  @media screen and (max-width:868px) {

    #boneco{
        width: 100%;
    max-width: 110px;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 9%;
    transform:translate(-50%, -50%); 
    }
    
    #logo
    {
      width: 100%;
      max-width: 160px;
      padding: 20px;
      position: absolute;
      top: 15%;
      left: 35%;
      transform:translate(-50%, -50%); 
    }
  
    #subtitulo
    {
      position: absolute;
      top: 16.5%;
      left: 65%;
      width: 35%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: "time";
      font-size: large;
    }
    section {
        background-color: lightgrey;
        width: 100%; /* Definindo a largura da seção */
        max-width: 400px;
        max-height: 350px;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        top: 66%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
  
  }
